
@if (!string.IsNullOrEmpty(Message))
{
    <div class="@AlertClass"
         role="alert"
         aria-atomic="true">
        @if (ShowIcon && !string.IsNullOrEmpty(Icon))
        {
            <Icon SvgIcon="@(string.IsNullOrWhiteSpace(Icon) ? Icons.Icons.Outlined.InfoCircle : Icon)"></Icon>
        }
        <div class="alert-content">
            @if (!string.IsNullOrEmpty(Title))
            {
                <h4 class="font-medium text-base">@Title</h4>
            }
            <p class="text-sm">@Message</p>
            @if (Dismissible)
            {
                <button type="button"
                        class="close-button"
                        aria-label="Close">
                    &times;
                </button>
            }
        </div>
        @if (AdditionalContent != null)
        {
            <div class="additional-content">
                @AdditionalContent
            </div>
        }
    </div>
}