
<div class="flex items-center mb-4">
    <input id="@Id" type="checkbox" value="" class="@InputClass">
    <label for="@Id" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">@Label</label>
</div>
