@if (_isVisible)
{
    <div id="@Id" tabindex="-1" 
         class="@DialogClass">
        <div class="relative w-full @GetSizeClass() max-h-full m-2">
            <!-- Modal content -->
            <div class="@DialogContainerClass">
                @if (DialogHeader is not null)
                {
                    <!-- Modal header -->
                    <div class="flex items-center justify-between">
                        @DialogHeader
                    </div>
                }
                @if (DialogBody is not null)
                {
                    <!-- Modal body -->
                    <div class="space-y-4">
                        @DialogBody
                    </div>
                }
                @if (DialogFooter is not null)
                {
                    <!-- Modal footer -->
                    <div class="flex flex-wrap gap-2 justify-center items-center">
                        @DialogFooter
                    </div>
                }
            </div>
        </div>
    </div>
    
    
}